.button{
	-fx-font:  16px "Segoe UI";
	-fx-background-radius:20;
	 -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-font-size:20px;
}

#vbox-menu {
	-fx-background-color: rgba(255, 255, 255, 0.4);;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-max-width:1000;
    -fx-max-height:500;
    -fx-background-radius:10;
}


#vbox-principal {
	-fx-background-image: url("resumen-moderno-diseno-degradado-fondo-onda-azul_343694-2191.jpg");
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#l1-title{
	-fx-font:  16px "Segoe UI";
	-fx-font-size:50;
	-fx-text-fill:#ffffff;
}


#imagen{
	-fx-background-image: url("cv.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;

    -fx-min-width: 650;
    -fx-min-height: 650;
}

#contenedorH{
	-fx-background-color:transparent;
	 -fx-max-width:1500;
	 -fx-max-height:400;
}
